.volunteer-section {
    text-align: center;
}

.container-vln2 {
    max-width: 1200px;
    padding: 60px 20px;
    margin: 0 auto;
}

.container-vln2 .subheading {
    font-size: 14px;
    letter-spacing: 1px;
    color: #555;
    margin-bottom: 10px;
    font-weight: bold;
}

.container-vln2 .heading {
    font-size: 36px;
    color: #f15454;
    margin-bottom: 40px;
    font-weight: 700;
}

.volunteer-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.volunteer-card {
    width: 240px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.volunteer-img {
    height: 300px;
    background-size: cover;
    background-position: center;
}

.volunteer-name {
    padding: 15px 10px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.volunteer-name span {
    display: block;
    font-size: 14px;
    font-weight: normal;
    margin-top: 4px;
}

.volunteer-img.img-1 {
    background: url(/images/team/diksha.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-2 {
    background: url(/images/team/shila.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-10 {
    background: url(/images/team/diksha.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-3 {
    background: url(/images/team/harsha.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-4 {
    background: url(/images/team/pratiksha.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-5 {
    background: url(/images/team/diksha.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-6 {
    background: url(/images/team/teju.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-15 {
    background: url(/images/team/kush.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-8 {
    background: url(/images/team/nik.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.img-9 {
    background: url(/images/team/gaurav.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.avishri {
    background: url(/images/team/avishri.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.pranav {
    background: url(/images/team/pranav.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.bobbysir {
    background: url(/images/team/bobbysir.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.aditi {
    background: url(/images/team/aditi.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.sakshi {
    background: url(/images/team/sakshi.avif) no-repeat center;
    background-size: cover;
}
.volunteer-img.sakshi1 {
    background: url(/images/team/sakshi1.avif) no-repeat center;
    background-size: cover;
}